[run]
branch = True
source = src
omit = *__init__.py, *__main__.py, *main.py, *config.py, *api.py

[report]
omit = *__init__.py, *__main__.py, *main.py, *config.py, *api.py

[html]
directory = ./htmlcov
